<a href="https://colab.research.google.com/github/prashant-210110/daily-tasks/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.camel case----------->prashantNagaSai
2.pascal case---------->prashantnagasai
3.snake case----------->prashant_naga_sai

In [ ]:
#data types
print(type(2.5))
print(type(5))
print(type("sai"))
print(type(1+2j))
print(type((91,5,2,6,2)))
print(type([1,2,5,9,6,6]))
print(type({1,4,5,52,2,21}))
print(type({1:"sai",2:"naga"}))
print(type(True))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'bool'>

In [ ]:
print(int(True))
print(int(False))
print(int(20.2541))
range(0,9)
print(list(range(0,10)))
print(set(range(0,10,2)))
print(tuple(range(0,10)))
print(frozenset(range(0,10)))
d={1:"sai",2:"naga"}
print(d.keys())
print(d.values())

1
0
20
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{0, 2, 4, 6, 8}
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})
dict_keys([1, 2])
dict_values(['sai', 'naga'])

In [ ]:
pyint=325
sprint(type(pyint))
pyflo=325.215
print(type(pyflo))
pycompl=1+2j
print(type(pycompl))
pystr="abc"
print(type(pystr))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
s#binary       .2 -0,1
#decimal      .10-0,1,2,3,4,5,6,7,8,9
#octal        .8 -0,1,2,3,4,5,6,7
#hexa decimal .16-0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f
print(bin(123))
print(oct(154))
print(hex(20))

0b1111011
0o232
0x14

In [ ]:
print(oct(123))
print(oct(1548))
print(oct(199))
print(hex(29))
print(hex(1545))
print(hex(199))
print(hex(11))
print(0o173)
print(0b1110111000)
print(0o307)
print(0b1000000000010)

0o173
0o3014
0o307
0x1d
0x609
0xc7
0xb
123
952
199
4098

In [ ]:
a=[1,2,3,]
b=a
c=[1,2,3]
ssprint(a)
print(b)
print(c)
print(id(a))
print(id(b))
print(id(c))
print(a is c)
print(a is b)
print(b is c)
print(a in b)
print(1  in a)
print(5 not in a)
print(5 in a)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
134296633131072
134296633131072
134296630743424
False
True
False
False
True
True
False

In [ ]:
#ARITHEMATIC OPERATORS
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
print("addition is",num1+num2)
print("subtraction is",num1-num2)
print("multiplication is",num1*num2)
print("division is",num1/num2)
print("flour division is ",num1//num2)
print("power is ",num1**num2)
print("modules is or remainder ",num1%num2)

enter the first number12
enter the second number6
addition is 18
subtraction is 6
multiplication is 72
division is 2.0
flour division is  2
power is  2985984
modules is  0

In [ ]:
s#FORMATING STRINGS
name="python"
year=1989
auth="guido van rossum"
zen="hello"
print("hello welcome to {},developed in {},by{}.".format(name,year,auth))
print("hello welcome to {2},developed in {0},by{1}.".format(name,year,auth))
print("{0}{1}".format(name,year))
pssrint("{}{}{}{}".format(name,year,zen,auth))
print(zen + auth)
a=int(input("enter the number"))
b=int(input("enter another number"))
print("additon of a and b is",a+b)#addition
print("subtraction of a and b is",a-b)#subtraction
prissnt("multiplication of a and b is",a*b)#multiplication
print("division of a and b is",a/b)#division
print("poewr of  of a to b is",a**b)#power
print("flore division of a and b is",a//b)#flore division

hello welcome to python,developed in 1989,byguido van rossum.
hello welcome to guido van rossum,developed in python,by1989.
python1989
python1989helloguido van rossum
helloguido van rossum
enter the number50
enter another number20
additon of a and b is 70
subtraction of a and b is 30
multiplication of a and b is 1000
division of a and b is 2.5
poewr of  of a to b is 9536743164062500000000000000000000
flore division of a and b is 2

In [ ]:
print("my name is {name}".format(name="sai"))
print("my name is {}".format("sai"))
print("my name is {0}".format("sai"))
name="Sai"
age=21
print("my name is {0}".format(name))
print("my name is {0} iam {1}".format(name,age))
print("my name is {name} and iam {age}".format(name="prashant",age=21))

my name is sai
my name is sai
my name is sai
my name is Sai
my name is Sai iam 21
my name is prashant and iam 21

In [ ]:
#COMPARISION OPERATORS
num1=int(input("enter the first number"))
num2=int(input("enter second number"))
print("equal",num1==num2)
print(num1>num2)
print(num1<num2)
print(num1!=num2)
print(num1>=num2)
print(num1<=num2)

enter the first number12
enter second number12
True
False
False
False
True
True

In [ ]:
#logical operators and or not
a=5
b=4
print(a<8 and b>6)
print(a>0 or b>7)
print(not a)
print(not b)

False
True
False
False

In [ ]:
#bitwise complement symbol is ~ also known as bit wise not operator
#formula=>.......~x=-x-1
print(~20)
print(~True)
print(~10)
s

#ones complement and 2's complement
#1+1+1=11
#1+1=10
#1+0=1
#0+1=1
#0+0=0





#left shift and right shift
#any thing will done in the right side only
#left shift ----add zeroes in right side
#right shift ---cancel the binary numbers in the right side
bin(57)
bin(99)
print(57<<3)
print(99>>4)
print(255>>5)
print(125<<2)
0b111110100

print(~True)
print(True>>2)
print(True<<2)
print(~False)
print(False>>2)
print(False<<2)



#ternary operator     conditional expression
a,b=10,20
print(a,b)
print("a is big")




print(True&False)
print(True|False)
print(True^False)



#PEMDAS mathematical rules
#PARENTHESIS
#EXPONENTIAL
#MULTIPLICAION
#DIVISION
#ADDITION
#SUBTRACTION

-21
-2
-11
456
6
7
500
-2
0
4
-1
0
0
10 20
a is big
False
True
True

In [ ]:
ss#ASSIGNMENT OPERATORS
a=25
b=54
c=0
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)

79
104
79
1975
79.0
4.0

In [ ]:
#IN ,NOT IN
PyInt="pyThon"
print('p'in PyInt)
print('P'in PyInt)
print('T'in PyInt)
print('.'in PyInt)
print('G' not in PyInt)
print('py' not in PyInt)
print('pyThon' not in PyInt)
print('python' not in PyInt)
print('pyThon'in PyInt)
print("{}".format("pyThon") in PyInt)

True
False
True
False
True
False
False
True
True
True

In [ ]:
#IS,ISNOT
a=[1,5,2]
b=[56,5,2]
c=b
d=[1,5,2]
print(a)
print(a+b)
print(b)
print(c)
print(a is b)
print(b is c)
print(a is c)
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(a==b)
print(b==c)
print(a is not c)
print(b is not c)

[1, 5, 2]
[1, 5, 2, 56, 5, 2]
[56, 5, 2]
[56, 5, 2]
False
True
False
133739188300416
133739188301120
133739188301120
133739188302272
False
True
True
False

In [ ]:
#bitwise opreators
a=55
b=66                                 # bitwise and SYMBOL IS "&"
print(a&b)                           #a   b   result
print(15&31)                         #0   0     0
print(99&122)                        #1   0     0
print(bin(99))                       #1   1     1
print(bin(122))                      #0   0     0
hex(199)
print(199&254)

2
15
98
0b1100011
0b1111010
198

In [ ]:
#bitwise or SYMBOL IS    "|"
s#  a     b     result
#  0    0       0
#  1    1       1
#  1    0       1
#  0    1       1
print(99|199)
print(16|8)
print(1545|2)
print (bin(1542))
print(bin(254))
print(0b11011111110)
print(1542|254)
print(bin(133))
print(bin(222))
print(0b11011111)
print(133|222)

231
24
1547
0b11000000110
0b11111110
1790
1790
0b10000101
0b11011110
223
223

In [ ]:
#bit wise exclusive or SYMBOL IS"^"
 # a    b   result
 # 0     1   1
 # 1     0   1
 # 1     1   0
 # 0     0   0
print(bin(144))
print(bin(44))
print(0b10111100)
print(144^44)

0b10010000
0b101100
188
188

4/7/25

In [ ]:
#looping statements
#for loop
for b in "python":
  print(b)
for a in "python":
  print(a,end=",")
for x in " python":
  print(x,end=" ")
for i in "python":
  print(i,end="(:")
c="python"
for i in c:
  print(i,end=" ")

p
y
t
h
o
n
p,y,t,h,o,n,  p y t h o n p(:y(:t(:h(:o(:n(:p y t h o n

In [ ]:
#control statements
print("first line")
print("second line")
print("third line")
print("first line") ;print("second line") ;print("third line")
print("first line",end=",")
print("second line",end=",")
print("third line",end="\n")
print("first line",end=",") ;print("second line",end=",") ;print("third line")
print("first line",end="\n") ;print("second line",end="\n") ;print("third line")
print("first line","\n") ;print("second line",end="\n") ;print("third line")
print("first line \n") ;print("second \n line") ;print("third line")

first line
second line
third line
first line
second line
third line
first line,second line,third line
first line,second line,third line
first line
second line
third line
first line

second line
third line
first line

second
 line
third line

In [ ]:
#selective control structures  (conditional control statements)
#python decision making statements
# one way if statement
PyInt=int(input("enter the number"))
if PyInt>=0:
  print("given number is positive number")
  print("tq")

enter the number9
given number is positive number
tq

In [ ]:
# two way decision   if eles statement
PyInt=int(input("enter the number"))
if PyInt >0:
  print("given number is positive number")
  if PyInt<11:
    print("number is in between o to 10")
  else:
    print("number is greater then 10")
else:
  print("given number is negative number")
print("tq")

enter the number542
given number is positive number
number is greater then 10
tq

In [ ]:
#multi wway decision
PyInt=int(input("enter the nunber"))
if PyInt==0:
  print("given number is zero")
elif PyInt<0:
  print("given number is negative number")
else:
  print("givrn number is positive number")
print("TQ")

enter the nunber63
givrn number is positive number
TQ

In [ ]:
#negative conditional statements
PyInt=int(input("enter the number"))
if not PyInt>0:
  print("given number is negative")
else:
  print("positive number")                         #if we take off not then we get totally reverse optput

enter the number96
positive number

In [ ]:
#grading of the student marks
marks=int(input("enter marks of the student"))
if marks>=90 and marks<=100:
  print("student get a+ grade")
elif marks>=80 and marks<=89:
  print("student get a grade")
elif marks>=70 and marks<=79:
  print("student get b+ grade")
elif marks>=60 and marks<=69:
  print("student get b grade")
elif marks>=50 and marks<=59:
  print("student get c grade")
elif marks>=40 and marks<=49:
  print("student get d grade")
elif marks>100:
  print("enter maeks below 100")
else:
  print("failed")

enter marks of the student63
student get b grade

In [ ]:
#nested statements
num=int(input("enter the number:"))
if num>=0:#outer condition
  if num==0:#inner condition
    print("the given number is zero")
  else:
    print("the given nunber is positive")
else:
  print("the given number negative number")

enter the number:93
the given nunber is positive

In [ ]:
for x in [1,2,3]:
  print(x)
#for is the iterator
#x is the variable
#in is the operator
#[1,2,3] is the iterable                            #operators
#for x in[1,2,3] is called as iteration

In [ ]:
numbers=[6,5,2,1,4,8,641,64,2,1]
sum=0
for val in numbers:
  sum=sum+val             #inside the indentation....print every line
  print(sum,end=" ")
print("\n""the sum is ",sum)  #outside the indentation ....just print the last line

6 11 13 14 18 26 667 731 733 734
the sum is  734

In [ ]:
a=[10,20,30,40,50]
for num in a:
  if num>40:
    print("greater then to 40",num)
  elif num==40:
    print("equals to 40")
  else:
    print("less then 40")
print(num)

less then 40
less then 40
less then 40
equals to 40
40
greater then to 40 50
50
50

In [ ]:
dataset=["big data","Python","deep LEARNING"]
for data in dataset:
  print(data.upper())
print(data)
print(dataset[0])
if data is dataset[2]:
  print("yes")
else:
  print("no")

BIG DATA
PYTHON
DEEP LEARNING
deep LEARNING
big data
yes

In [ ]:
for x in range(4):          #it will print up to 4 starting from 0
  print(x)
for i in range(1,10):       #it will just print from 1 to 9
  print(i,end=",")
for i in range(1,12,2):     #starrt value is max  and second value is max and last value is increment from 1 to 12
  print(i,end=" ")
  "\n"
for i in range(14,0,-2):    #start value is maximum and second value is minimum and last value is the decrement from 14 to 0
  print(i,end=" ")
for i in range(-54,-5,6):
  print(i)

0
1
2
3
1,2,3,4,5,6,7,8,9,1 3 5 7 9 11 14 12 10 8 6 4 2 -54
-48
-42
-36
-30
-24
-18
-12
-6

In [ ]:
print(range(10))
print(list(range(10)))
print(tuple(range(10)))
print(set(range(10)))
print(frozenset(range(10)))
print(str(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})
range(0, 10)

5/7/25
lab

In [ ]:
digits=[1,25,4,53]
for i in digits:
  if i in digits:
    print(i)
else:
  print("no item left")

1
25
4
53
no item left

In [ ]:
digits=[1,25,4,53]
for i in digits:
  if i==8:        #we will given the number which is not present in the list
    continue
    print(i)
else:
  print("given i is not present in the list")        #below onw and this one will get same answer
  print(i)        #only else block will execute

given i is not present in the list
53

In [ ]:
digits=[1,25,4,53]
for i in digits:    #we are giving the number which is not present in the list
  if i==8:          # both get same answer
    break           #only else block will execute
    print(i)
else:
  print(i)

53

In [ ]:
digits=[1,25,4,53]
for i in digits:
  if i==4:          #expect the given number remaining will print
    continue
  print(i)
else:
  print(i)          #else block will execute

1
25
53
53

In [ ]:
digits=[1,25,4,53]
for i in digits:
  if i==4:          # it wil print only before given number
    break
  print(i)
else:
  print(i)          #else block will not execute

1
25

In [ ]:
num=[41,25,36,142,5]
for i in num:
  if i==142:      # it will print upto that number
    break
  print(i)

41
25
36

In [ ]:
num=[41,25,36,142,5]
for i in num:
  if i==142:        #expect that number remaining will print
    continue
  print(i)

41
25
36
5

In [ ]:
num={101:'python',102:'java',103:'c'}
print(type(num))
print(num)
for i in num:
  if i==103:
    print(num[i])

<class 'dict'>
{101: 'python', 102: 'java', 103: 'c'}
c

In [ ]:
num=[112101,45,12,63,14,25,36,254]
a=[12,44,21,523,51]
sum=0
sum1=0
for i in num:
  sum=sum+i
print(sum)
for i in a:
  sum1=sum1+i
print(sum1)

112550
651

5/07/25 class

In [ ]:
num={1,4,5,2,3,5,6,8,5,2}
for i in num:
  if i==5:
    continue
  print(i)
else:
    print(i)

1
2
3
4
6
8
8

In [ ]:
#while loop
a=2
while a<=8:
  a=a+2
  print(a)
print(a,"looping statements")

4
6
8
10
10 looping statements

In [ ]:
x=20
while (x>=10):          #20<=10   16<=10    12<=10    8<=10   false
  x=x-4                 #20-4     16-4      12-4
  print(x)              #16       12        8
print(x)

16
12
8
8

In [ ]:
n=20
while (n>0):
  print(n)
  n=n-3
else:
  print(n)
  print("good bye")

20
17
14
11
8
5
2
-1
good bye

In [ ]:
for a in range(1,3):
  print("a is",a)
  for b in range(1,3):
    print("b is",b)
    print(a,b)

a is 1
b is 1
1 1
b is 2
1 2
a is 2
b is 1
2 1
b is 2
2 2

In [ ]:
for i in range(1,3):
  print(i)

1
2

In [ ]:
for a in range(1,3):
  for b in range(1,3):
    print(b,a)

1 1
2 1
1 2
2 2

In [ ]:
for a in range(1,4):        # outer loop will execute in 3 times
  for b in range(1,4):      #inner loop will execute in 3 times
    print(a,b)
  print(a)

1 1
1 2
1 3
1
2 1
2 2
2 3
2
3 1
3 2
3 3
3

In [ ]:
for a in range(1,4):
  for b in range(1,4):
    print('%d*%d=%d'%(a,b,a*b))

1*1=1
1*2=2
1*3=3
2*1=2
2*2=4
2*3=6
3*1=3
3*2=6
3*3=9

In [ ]:
#right angle triangle
x=int(input("enter number of rows:"))
for a in range(1,x+1):
  print(' * '*a)             #here * will print for a times

enter number of rows:5
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
x=5
for i in range(x):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#reverse right angle triangle
x=5
for i in range(x,0,-1):
  print(" * "*i)              #this line will print "*" for i time
print()                  #for example if i is 5 then * will print for 5 times

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
#square pattern program
x=4
for i in range(x):
  for j in range(x):
    print("*",end="")
  print()

****
****
****
****

In [ ]:
for i in range(0,4):
  print("*"*4)
print()

****
****
****
****

In [ ]:
x=5
for i in range(x):          #if outer loop execute one time then inner loop will executed for x times that means here 5 times
  print(x)                  #if we not put end="" then result will be in mixed form in a straight line
  for j in range(x):        #if we not put the print in the outer loop then 5 will not print
    print("m",end="")       #if we not put the print in the last line then all are in the mixed form
  print()

mmmmm
mmmmm
mmmmm
mmmmm
mmmmm

In [ ]:
x=int(input("enter the number"))
for i in range(1,11):
  print(x,"*",i,"=",i*x)

enter the number6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7/7/25

In [ ]:
x=int(input("enter number of rows"))
for i in range(1,x+1):                         #for i in range(1,x+1):
  for j in range(i,x+2-1):                        #for j in range(i,x+2-1):
    print("*",end="")
  print()

enter number of rows5
*****
****
***
**
*

In [ ]:
for letter in "python":
  if letter =='h':
    pass
    print("this is passed block")
  print("current letter",letter)

current letter p
current letter y
current letter t
this is passed block
current letter h
current letter o
current letter n

8/7/25

In [ ]:
x=int(input("enter the number"))
for i in range(0,x,2):
  for j in range(i,x):
    print(x,end="")
  print()

enter the number5
55555
555
5

In [ ]:
x=int(input("enter x:"))
y=int(input("enter y:"))
for i in range(y,x,-2):
  for j in range(i):
    print("*",end="")
  print()

enter x:2
enter y:9
*********
*******
*****
***

In [ ]:
x=int(input("enter the range"))
for i in range(0,x,2):
  #if i%2==0
  print(i,"even")     #to print even numbers
for j in range(1,x,2):
  #if j%2==1:
    print(j,"odd")    #to print odd numbers

enter the range9
0 even
2 even
4 even
6 even
8 even
1 odd
3 odd
5 odd
7 odd

In [ ]:
#armstrong number or not
x=int(input("enter the number:"))   #153
a=x                                 #a=153,x=153
b=len(str(a))                       #b=3
sum=0                               #sum=0
while x!=0:
  d=x%10                            #153%10=3          15%10=5        1%10=1
  sum=sum+d**b                      #sum=0+3**3=27     27+5**3=152    152+1**3=153
  x=x//10                           #153//10=15        15//10=1       1//10=0
if a==sum:
  print(sum,"is a armstrong number")
else:
  print(sum,"is a not armstrong number")

enter the number:8
8 armstrong number

main logic in armstrong number is for example153 =1^3+5^3+3^3
that means if the sum of powers of the digits is equal to the number
if there is a four digit number then we need to take power of 4 like that

In [ ]:
#print armstrong numbers
x=int(input("enter the number:"))     # here x is the number which we are giving
for i in range(x):
  num=i                   #here we will take i because i is the starting number
  result=0
  n=len(str(i))
  while i!=0:
    digit=i%10
    result=result+digit**n
    i=i//10
  if num==result:
    print(result)

enter the number:160
0
1
2
3
4
5
6
7
8
9
153

In [ ]:
a=int(input("enter number"))
for i in range(a):
  num=i
  b=len(str(i))
  r=0
  while i!=0:
    d=i%10
    r=r+d**b
    i=i//10
  if num==r:
    print(r)

enter number160
0
1
2
3
4
5
6
7
8
9
153

In [ ]:
x=int(input("emter the number"))
a=x
sum=0
b=len(str(a))
while a!=0:
  d=a%10
  sum=sum+d**b
  a=a//10
if sum==x:
  print(x,"Armstrong number")
else:
  print(x,"not a armstong number1")

KeyboardInterrupt: Interrupted by user

In [ ]:
x=int(input("enter the number"))
for i in range(x):
  num=i
  sum=0
  b=len(str(i))
  while i!=0:
    d=i%10
    sum=sum+d**b
    i=i//10
  if sum==num:
    print(sum)

enter the number10
0
1
2
3
4
5
6
7
8
9

In [ ]:
#fibonacci series
a=0
b=1
x=int(input("enter the range"))
for i in range(x):
  c=a+b
  a=b
  b=c
  print(c,end=",")

enter the range10
1,2,3,5,8,13,21,34,55,89,

In [ ]:
a=0
b=1
print(a)
print(b)
x=int(input("enter the number"))
if x==1:
  print(1)
elif x==0:
  print(0)
else:
  for i in range(x):
    c=a+b
    a=b
    b=c
    print(c,end=",")

0
1
enter the number10
1,2,3,5,8,13,21,34,55,89,

9/7/25

capitalize()	Converts the first character to upper case

casefold()	Converts string into lower case

center()	Returns a centered string

count()	Returns the number of times a specified value occurs in a string

encode()	Returns an encoded version of the string/

endswith()	Returns true if the string ends with the specified value

expandtabs()	Sets the tab size of the string

find()	Searches the string for a specified value and returns the position of
where it was found

format()	Formats specified values in a string

format_map()	Formats specified values from a dictionary in a string

index()	Searches the string for a specified value and returns the position of where it was found

isalnum()	Returns True if all characters in the string are alphanumeric

isalpha()	Returns True if all characters in the string are in the alphabet

isascii()	Returns True if all characters in the string are ascii characters

isdecimal()	Returns True if all characters in the string are decimals

isdigit()	Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	Returns True if all characters in the string are lower case

isnumeric()	Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Converts the elements of an iterable into a string

ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of
the strin

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list

rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning

In [ ]:
#operations on srings
#capitalize------------->it makes the first letter as capital
str="data science"
print(str.capitalize())
str2="data analytics"
print(str2.capitalize())
str3="12451"         # AttributeError:'str' object has no attribute 'captialize
#print(str3.captialize)
#isdigit------------->checks wether the given string is digit or not
str="PYTHON"
str2="12451"
str3="12java"
print(str.isdigit())
print(str2.isdigit())
print(str3.isdigit())
#islower----------->checks wether the given number is lower or not
a="python"
b="PYTHON"
c="1522java"
print(a.islower())
print(b.islower())
print(c.islower())
#isupper
a="python"
b="PYTHON"
c="1522java"
print(a.isupper())
print(b.isupper())
print(c.isupper())
#len
a="python"
b="PYTHON"
c="1522java"
print(len(a))
print(len(b))
print(len(c))
#lower
a="python"
b="PYTHON"
c="1522java"
print(a.lower())
print(b.lower())
print(c.lower())

Data science
Data analytics
False
True
False
True
False
True
False
True
False
6
6
8
python
python
1522java

In [ ]:
#max
a="python"
b="PYTHON"
c="1522javaz"
print(max(a))
print(max(b))
print(max(c))
#min
a="python"
b="PYTHON"
c="1522javaz"
print(min(a))
print(min(b))
print(min(c))
#replace
a="hi hello moo"
b="how are you to be"
c="a f d r"
print(a.replace("moo","medam"))
print(b.replace("to","boss"))
print(c.replace("a","hi"))
print(c.replace("f","friends"))

y
Y
z
h
H
1
hi hello medam
how are you boss be
hi f d r
a friends d r

In [ ]:
#zfill---------->it add zeroes at the left side of the string
a="python"
b="java154JAVA"
print(a.zfill(10))
print(b.zfill(20))
#isalnum
a="python"
b="java154JAV"
c="@#$"
print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
#adjust
a="python"
l=11;fillchar="/"
print(a.ljust(l,fillchar))
print(a.rjust(l,fillchar))
print(a.center(l,fillchar))
#strip
a="pthon is user friendly langauge"
print(a.lstrip())
print(a.rstrip())
print(a.strip())

0000python
000000000java154JAVA
True
True
False
python/////
/////python
///python//
pthon is user friendly langauge
pthon is user friendly langauge
pthon is user friendly langauge

In [ ]:
#isspace
a="python"
print(a.isspace())
b=" "
print(b.isspace())
v="&"
print(v.isspace())
s="2"
print(s.isspace())
d="python is a user friendly langauge"
print(d.isspace())

False
True
False
False
False

In [ ]:
#isprintable
a="python"
print(a.isprintable())
b=" "
print(b.isprintable())
v="\n&"
print(v.isprintable())
s="2"
print(s.isprintable())
d="python is a user friendly langauge"
print(d.isprintable())

True
True
False
True
True

In [ ]:
#expandtabs
a="python\tjava\tc++"
b="java\t154\tJtAV"
c="@\t#\t$\tm"
d=input("enter")
print(a.expandtabs())
print(b.expandtabs(10))
print(c.expandtabs(15))
print(d.expandtabs(15))
#find
a="basically python"
b="java154JAVA"
print(a.find("python"))
print(b.find("15"))
print(b.find(""))           #if nothing in thw string then 0 wil print
print(b.find("sai"))        #if string not found then -1 will print

enter351
python  java    c++
java      154       JtAV
@              #              $              m
351
10
4
0
-1

In [ ]:
#find
a="python is good one"
print(a.find('o'))
print(a.find('o',4))
print(a.find('o',10))
print(a.find(' ',1,16))
print(a.find('z',13,16))
print(a.find('g',0,20))
#rfind rindex
a="python is good one"
print(a.rfind('o'))
print(a.rfind('o',4))
print(a.rfind('o',10))
print(a.rindex(' ',1,16))
print(a.rindex('g',10,20))
#count
a="python is good one"
print(a.count('i'))
print(a.count('o',0,5))
print(a.count('t',10,25))

4
4
11
6
-1
10
15
15
15
14
10
1
1
0

In [ ]:
#split
a="python@is@dynamic langauge"
print(a.split("@"))

['python', 'is', 'dynamic langauge']

10/07/25

In [ ]:
#lists
l=[10,20.23,"python",True,"123java","c","dsa","alpha","beta"]
print(l)
l1=(("python","java",1252))
print(l1)
print(type(l))
print(l[0:4])     #prints first four
print(l[:4])      #prints first four
print(l[4:])      #prints from 5 to end
print(l[1:8:2])   #on incrementing of 2
print(l[-1:1:-1]) #printing reverse
print(l[-3:3:-1])
print(l[::-1])
print(l[:4:-1])
print(l[4::-1])
x=input("enter the guess string")
if x in l:
  print("yes")
sssssssssselse:
  print("no")
print(l)
l[1]=63           #replace the place
print(l)
l[0:4]=[123,50.5]
print(l)
l[1:2]=[12,15,"sai"]

[10, 20.23, 'python', True, '123java', 'c', 'dsa', 'alpha', 'beta']
('python', 'java', 1252)
<class 'list'>
[10, 20.23, 'python', True]
[10, 20.23, 'python', True]
['123java', 'c', 'dsa', 'alpha', 'beta']
[20.23, True, 'c', 'alpha']
['beta', 'alpha', 'dsa', 'c', '123java', True, 'python']
['dsa', 'c', '123java']
['beta', 'alpha', 'dsa', 'c', '123java', True, 'python', 20.23, 10]
['beta', 'alpha', 'dsa', 'c']
['123java', True, 'python', 20.23, 10]
enter the guess stringTrue
no
[10, 20.23, 'python', True, '123java', 'c', 'dsa', 'alpha', 'beta']
[10, 63, 'python', True, '123java', 'c', 'dsa', 'alpha', 'beta']
[123, 50.5, '123java', 'c', 'dsa', 'alpha', 'beta']

In [ ]:
a=[10,20.23,True,"python","java"]
a[1:2:1]=[2145.2,"naga",54,68,236]
print(a)
a[1:5]=[15]
print(a)

[10, 2145.2, 'naga', 54, 68, 236, True, 'python', 'java']
[10, 15, 236, True, 'python', 'java']

In [ ]:
b=[10,20.23,True,"python","java"]
b.insert(2,"sai")
print(b)
b.append("apple")
print(b)
l1=(("python","java",1252))
b.extend(l1)
print(b)

[10, 20.23, 'sai', True, 'python', 'java']
[10, 20.23, 'sai', True, 'python', 'java', 'apple']
[10, 20.23, 'sai', True, 'python', 'java', 'apple', 'python', 'java', 1252]

class

In [ ]:
l=[12,15,14,18,14,63,13]
print(l)
print(l[:])         #all will print
print(l[1:5:-1])    #[]  #here starting value must be maximun when we are decrementing
print(l[1::5])      #[15,13]
print(l[0::6])      #[12,13]
print(l[5::9])      #[63]
print(l[6::11])     #[13]
print(l[::-1])      #[reverse]
print(l[7:0:-2])    #[13,14,14]
print(l[7:1:-2])    #[13,14,14]
print(l[8:5:-1])    #[13]

[12, 15, 14, 18, 14, 63, 13]
[12, 15, 14, 18, 14, 63, 13]
[]
[15, 13]
[12, 13]
[63]
[13]
[13, 63, 14, 18, 14, 15, 12]
[13, 14, 14]
[13, 14, 14]
[13]

In [ ]:
#  0,1,2,3,4,5,6,7,8
l=[1,5,7,3,2,4,6,10,11]
print(l[7:1:3])     #[]
print(l[2:7:2])     #[7,2,6]
print(l[2:7])       #[7,3,2,4,6]
print(l[:4])        #[1,5,7,3]
print(l[3:])        #[3,2,4,6,110,11]
print(l[6])

[]
[7, 2, 6]
[7, 3, 2, 4, 6]
[1, 5, 7, 3]
[3, 2, 4, 6, 10, 11]
6

In [ ]:

-+#  0 1 2   3
a=[1,2,3,"hello",5,6,["python"]]
print(a)
print(a[6])
print(a[-6])
print(a[-2])
print(a[6][0])
print(a[-1])
print(a[-1][-1])
print(a[-1][-1][-1])
#append
#extend
#insert
#remove
#clear
#index

[1, 2, 3, 'hello', 5, 6, ['python']]
['python']
2
6
python
['python']
python
n

15/7/25

In [ ]:
x=int(input("enter the number"))
a=x
sum=0
b=len(str(x))
while x!=0:
  c=i%10
  sum=sum+c**b
  i=i//10
if sum==a:
  print(a,"is armstrong")
else:
  print(a,"is not armstrong")

enter the number123

KeyboardInterrupt:

In [ ]:
x=int(input("enter the number"))
a=x
sum=0
b=len(str(x))
while x!=0:
  d=x%10
  sum=sum+d**b
  x=x//10
if sum==a:
  print(a,"is armstrong")
else:
  print(a,"is not armstrong")

enter the number8
8 is armstrong

In [ ]:
x=int(input("enter the number"))
for i in range(x):
  a=i
  sum=0
  b=len(str(i))
  while i!=0:
    d=i%10
    sum=sum+d**b
    i=i//10
  if sum==a:
   print(sum)

enter the number10
0
1
2
3
4
5
6
7
8
9

16/07/25

In [ ]:
#magical methods __iter__(),__next__()

list=[1,2,3,4]
x=iter(list)
print(x)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
for i in list:
  print(i)
print(i)

<list_iterator object at 0x7c3a0a192bf0>
1
2
3
4
1
2
3
4
4

In [ ]:
list=[1,2,5,4,8,6]
x=list.__iter__()
print(x)
print(next(x))

# iterators enclosere yeild return decorators namespaces or variables legt(local encloser global  buildin)

<list_iterator object at 0x7c39cfdb6950>
1

In [ ]:
x=int(input("enter the number"))
x=a
sum=0
b=len(str(x))
while x!=0:
  d=x%10
  sum=sum+d**b
  x=x//10
if sum==a:
  print(sum,"is a armstrong")
else:
  print(sum,"is not a armstrong")

153 is a armstrong

17/07/25

In [ ]:
#python modules
#every .py file is a module,
def wish():
  print("welcome to banking")
  print("thank you")
wish()

welcome to banking
thank you

In [ ]:
'''how many number of extentions does python support
Python supports several types of file extensions, primarily:

.py: This is the most common extension for standard Python scripts.
.pyc: These are compiled bytecode files. Python creates these to speed up execution of scripts.
.pyo: These are optimized compiled bytecode files (less common in modern Python).
.pyd: On Windows, this is a dynamically loadable module (similar to a .dll).
.ipynb: This is the file extension for Jupyter Notebooks (which are widely used with Python).'''

In [ ]:
import math
dir(math)
print(abs(-9658))               #abs used for always positive
dir(math)
print(math.ceil(-45.25))        #ceil is used for forward value
print(math.ceil(100.12))
print(math.ceil(100.72))
print(math.sqrt(125))
print(math.floor(-45.17))
print(math.floor(100.25))
print(math.floor(100.75))
print(math.fabs(-100.01))
print(math.factorial(5))
print(math.fsum([5.7,8,2]))
print(math.fsum((5.7,8,2)))
print(math.fsum({5.7,8,2}))
print(math.pow(2,4))
print(round(10.234,2))
print(math.sqrt(10))
import random
print(random.randint(1,100))
print(random.randrange(1,100))
print(random.choice([1,2,3,4,5,6,7,8,9]))
x=[1,5,2,6,8,100,32,3,9,8,2,]
print(random.choice(x))
print(random.shuffle(x))
print(x)
print(random.sample(x,3))
print(random.sample(x,1))
print(random.sample(x,5))

9658
-45
101
101
11.180339887498949
-46
100
100
100.01
120
15.7
15.7
15.7
16.0
10.23
3.1622776601683795
34
74
3
2
None
[2, 1, 32, 8, 6, 3, 8, 5, 9, 2, 100]
[32, 5, 2]
[5]
[8, 6, 8, 100, 3]

In [ ]:
import operator
a=23
b=43
print(operator.add(a,b))
#module,package,functions

66

In [ ]:
import string
#string.ascii_letters,ascii_lower,ascii_upper,

In [ ]:
#package modele structure
#modularity---high degree of code reusability
#math random decimal string
#package  __init__

18/07/25

In [ ]:
#modules date, time ,timedata

In [ ]:
a=input("enter the two digit number")
print(type(a))
sum=int(a[0])+int(a[1])+int(a[2])
print(sum)

enter the two digit number333
<class 'str'>
9

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
import math
print(dir(math))
help(math.acos)

['__annotations__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
Help on built-in function acos in module math:

acos(x, /)
    Return the arc cosine (measured in radians) of x.

    The result is between 0 and pi.

21/07/25

In [ ]:
x=int(input("enter the number"))
y=int(input("enter the number"))        #division always float
print("division ",(x/y))

enter the number852
enter the number3
division  284.0

In [ ]:
x=input("enter the number")
y=input("enter the number")
print("division ",(x/y))            #we give string but we cannot do mathematical operations on strings so we get type error

enter the number31
enter the number546

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
x=int(input("enter the number"))
y=int(input("enter the number"))
z=x=y                             #we do not declare the a so we get name error
print(a)

enter the number51
enter the number51

NameError: name 'a' is not defined

In [ ]:
dict={101:"sai",102:"naga"}
print(dict[104])

KeyError: 104

In [ ]:
l=[0,1,2,5,4,7]
print(l[9])

IndexError: list index out of range

In [ ]:
a={}
a.add()

AttributeError: 'dict' object has no attribute 'add'

In [ ]:
#NameError: name 'a' is not defined
#TypeError: unsupported operand type(s) for /: 'str' and 'str'
#KeyError: 104 not in the dictionary
#AttributeError: 'dict' object has no attribute 'add'
#IndexError: list index out of range
# try except else finally raise

In [ ]:
#study about errors and ways to rectify error

'''case sensitive mistake
my_Name="sai"
print(my_name)'''
'''using string with out using quotes
print(sai)'''
dict={"name":"sai"}
print(dict["name"])

sai

22/07/25

In [ ]:
#python exception handeling
try:
  x=int(input("enter required number"))
  y=int(input("enter required number"))
  print("the result is",int(x/y))
except:
  pass
  print("error :arithemetic operation ignored.pass block")
  pass
else:
  print("successfully done ")

enter required number12
enter required number21
the result is 0
successfully done

In [ ]:
def age(age):
  assert age>=18,"age must not be less then 18 years"     #if the conditions false only this line will execute
  print("you are allowed to vote",age)
  print("thanks for voting...........")
age(17)

AssertionError: age must not be less then 18 years

In [ ]:
try:
  s=int(input("enter number"))
  a=int(input("enter number"))
  c=s/a
  print("the value is:",c)
except ZeroDivisionError:
  print("zero division error")
except ValueError:
  print("value error")
except Exception:
  print("exception")

enter number15
enter numbero
value error

In [ ]:
try:
  s=int(input("enter number"))
  a=int(input("enter number"))
  c=s/a
  print("the value is:",c)
except Exception as e:                #makes asingle line
  print("exception",e)

enter number125
enter number3212
the value is: 0.03891656288916563

In [ ]:
from ast import excepthandler
try:
  print("try block")            #it will execute when condition is true
except:
  print("except block")         #it will execute when the try block is fail
else:
  print("else block")           #it wil execute when try block is execute
finally:
  print("finally block")        #it will execute every time
raise               #it is a user defined error

try block
else block
finally block

RuntimeError: No active exception to reraise

23/07/25

In [ ]:
def sai(x,y):
  x=int(input("enter a value"))
  y=int(input("enter a value"))
  c=x+y
  print(c)
sai(15,52)

enter a value10
enter a value82
92

In [ ]:
n=int(input("enter the size better to enter a odd number"))
for i in range(n):
  for j in range(n+1):
    if j==i or j==n-1-i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

enter the size better to enter a odd number7
*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [ ]:
try:
  with open("MyFile.txt",mode='w')as MyFile:
    MyFile.writelines("hello this is file handling\n")
    MyFile.writelines("this is line\n")
    print("file is created")
    print(MyFile.tell())
except IOError:
  print("file not found")
  print("cc permission denied")
finally:
  print("file closed")

file is created
41
file closed

In [ ]:
with open("MyFile.txt",mode='r')as myfile:
  print(myfile.tell())
  myfile.read(10)
  print(myfile.tell())

0
10

In [ ]:
try:
  with open("MyFile.txt",mode='r')as myfile:
    print(myfile.read(5))
    print(myfile.readlines())
    print("writing is success....!")

except IOError:
  print("file not found")
  print("cc permission denied")
finally:
  print("file closed")

hello
[' this is file handling\n', 'this is line\n']
weitting is success....!
file closed

In [ ]:
from os import write
try:
  with open("MyFile.jpg",mode='w') as my:
    my.writelines("hii this is file handling")
    print(my)
except IOError:
  print("file not found")
  print("cc permission denied")

<_io.TextIOWrapper name='MyFile.jpg' mode='w' encoding='utf-8'>

In [ ]:
try:
  with open("MyFile.txt",mode='a') as my:
    my.writelines("this line will append on the file")
    print("appending sucessful")
except IOError:
  print("file not found")
  print("cc permission denied")

appending sucessful

In [ ]:
try:
  with open("MyFile.txt",mode='w')as MyFile:
    MyFile.writelines("தமிழர்களினதும் தமிழ் பேசும் பலரின் தாய்மொழி\n")
    MyFile.writelines("hello this is jpg file\n")
    MyFile.writelines("welcome to python programming\n")
    print("file is created")
except IOError:
  print("file not found")
  print("cc permission denied")
finally:
  print("file closed")

file is created
file closed

In [ ]:
x=5
for i in range(1,x+1):
  if i==0 and i==5:
    print("*",end="")

In [ ]:
'''x=input("enter the string")
y=x.lower
b=len(x)
print(b)
if b<=10:
  print(x[6],":lucky nunber")
else:
  print("enter only 10 letter words")'''
'''x=int(input())
y=int(input())
print(7-x-y)'''

'x=int(input())\ny=int(input())\nprint(7-x-y)'

24/07/25

In [ ]:
#patterns
x=int(input())
for i in range(x):
  print("****")

4
****
****
****
****

In [ ]:
x=int(input())
for i in range(1,x+1):
  print(" "*(x+1)+"*"*i)

4
     *
     **
     ***
     ****

In [ ]:
#hallow square inverted pyramid.....

In [ ]:
size = int(input("Enter the size of the square: "))
for i in range(size):
    for j in range(size):
        if i == 0 or i == size - 1 or j == 0 or j == size - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter the size of the square: 5
*****
*   *
*   *
*   *
*****

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(rows, 0, -1):
    spaces = rows - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

Enter the number of rows: 5
*********
 *******
  *****
   ***
    *

In [ ]:
!pip install faker

Collecting faker
  Downloading faker-37.4.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.4.2-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 16.9 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.2

In [ ]:
!pip install fpdf

Collecting fpdf
  Downloading fpdf-1.7.2.tar.gz (39 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: fpdf
  Building wheel for fpdf (setup.py) ... done
  Created wheel for fpdf: filename=fpdf-1.7.2-py2.py3-none-any.whl size=40704 sha256=534afe4368e83c6a518bb444f70a51171b703229f0a6635e433d87d56db5437e
  Stored in directory: /root/.cache/pip/wheels/65/4f/66/bbda9866da446a72e206d6484cd97381cbc7859a7068541c36
Successfully built fpdf
Installing collected packages: fpdf
Successfully installed fpdf-1.7.2

In [ ]:
#generate 100 fack emails open in excel then convert it into notepad

In [ ]:
Myfile1=open("/content/download.jpg",mode="rb")
Myfile2=open("sai.png",mode="wb")
Byts=Myfile1.read()
Myfile2.write(Byts)
print("new image was created sucess")

new image was created sucess

In [ ]:
from zipfile import *
Zfile = ZipFile("Myfile.zip", "w", ZIP_DEFLATED)
Zfile.write("download.jpg")
Zfile.write("sai.png")
Zfile.close()
print("all images compressed successfully")

all images compressed successfully

In [ ]:
import os
os.rename("Myfile.zip","naga.zip")
print("name changed successfullyyy......!")

name changed successfullyyy......!

In [ ]:
try:
  import csv
  with open("Myfile.csv",mode='w',encoding='utf-8') as fp:
    writer = csv.writer(fp, delimiter=',')
    data=[["stock","sales","price"],
          ['100','50','150'],
          ['250','50','545'],
          ['21','152','215']]
    writer.writerows(data)
    print("csv file created successfully")
except IOError:
  print("sorry csv file is unable to create")
  print("server write protected")
finally:
  print("final block success")

csv file created successfully
final block success

In [ ]:
from fpdf import FPDF
pdf=FPDF()
pdf.add_page()
pdf.set_font('Arial',size=32)
pdf.cell(200,100,txt="hello my self prashant",align='C')
pdf.output("sai.pdf")
print("pdf file crested successfully")

pdf file crested successfully

In [ ]:
!pip install openpyx1

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [ ]:
!pip install faker

Collecting faker
  Downloading faker-37.4.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.4.2-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 18.4 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.2

Excel Book Created Successfully...!!

In [ ]:
from faker import Faker
fake = Faker()
for x in range(10):
  print (fake.address())
  print("------------")

In [ ]:
#creating fack names ,emails ,numbers , addreses in the xlsx sheet
from openpyxl import Workbook
import faker
wb=Workbook()
ws=wb.active
from faker import Faker
fake = Faker()
ws['A1'] = "Fake names"
for x in range(2, 12):
    ws[f'A{x}'] = fake.name()
ws['B1'] = "Fake Addresses"
for x in range(2, 12):
    ws[f'B{x}'] = fake.address()
ws['C1'] = "Fake emails"
for x in range(2, 12):
    ws[f'C{x}'] = fake.email()
ws['D1'] = "Fake countries"
for x in range(2, 12):
    ws[f'D{x}'] = fake.country()
ws['E1'] = "Fake phone numbers"
for x in range(2, 12):
    ws[f'E{x}'] = fake.phone_number()
wb.save("Demoexcel.xlsx")
print("Excel Book Created Successfully...!!")

Excel Book Created Successfully...!!

In [ ]:
n=int(input())
for i in range(n):
  top=("*"*n)
  bot=("*"*n)
  print(top)

SyntaxError: invalid syntax (ipython-input-30-4261415318.py, line 5)

25/07/25

In [ ]:
import re
line="Pet:cat is the best pet"
mat=re.match(r"Pet*",line)
print(mat.group())
print(mat.start())
print(mat.end())

Pet
0
3

In [ ]:
from re import*
strpat='^...a$'
pystr="prashu"
pyresult=match(strpat,pystr)
if(pyresult):
  print("string matched")
else:
  print("string not matched")

string not matched

In [ ]:
import re
line="pet:cat I love cats "
mat=re.match(r"pet:\w\w\w",line)
print(mat.group(0))

pet:cat

In [ ]:
import re
line="i love cats pet:cat"
mat=re.match(r"Pet\w\w\w",line)
print(mat)

None

In [ ]:
import re
line="I love cats pet:cat"
mat=re.search(r"pet:\w\w\w",line)
print(mat.group(0))

pet:cat

In [ ]:
import re

line = "i love cats pet:cat"
mat = re.search(r"pet\w\w\w", line, re.IGNORECASE)

if mat:
    print(mat.group(0))
else:
    print("No match found.")

No match found.

In [ ]:
import re
line="pet:cat I love cats  pet:cow ngoeigoihvewnv ekngoehg pet:dog "
mat=re.findall(r"pet:\w\w\w",line)
print(mat)

['pet:cat', 'pet:cow', 'pet:dog']

In [ ]:
import re
mat=re.findall(r'@\w+\w+','abc.tesr@skjfnwos,first@sfhiughiuer,first.test@rest.bi')
print(mat)

['@skjfnwos', '@sfhiughiuer', '@rest']